:root
{
	--main-font-size: 1rem;
}

body
{
	background-color: var(--main-colour);
	color: var(--accent-colour);

	font-family: monospace, 'Lucida Console';
	font-size: var(--main-font-size);
	margin: 2%;
}

select
{
	background-color: var(--main-colour);
	color: var(--accent-colour);
	border-color: var(--accent2-colour);

	border-style: solid;
	font-family: monospace, 'Lucida Console';
}

body hr
{
	color: var(--accent2-colour);
}
body a
{
	text-decoration-color: var(--accent2-colour);
	color: var(--accent-colour);
}
body a:hover
{
	background-color: var(--accent-colour);
	color: var(--main-colour);
	transition: 0.5s ease all;
}
.levitate:hover
{
	transform: translateY(-20px);
}

body strong
{
	color: var(--accent3-colour);
    font-weight: bolder;
}

table th
{
	outline: 2px solid var(--accent2-colour);
	text-align: left;
}
table td
{
	outline: 2px solid var(--accent2-colour);
}

.navigation
{
	outline: 2px solid var(--accent-colour);
	overflow: hidden;
}

.navigation a
{
	float: right;
	margin-left: 0.8%;
}

#TableOfContents
{
	float: right;
	border-style: solid;
	border-color: var(--accent-colour);
	padding-right: 1%;
	position: sticky;
	top: 0;
}

.textBlock
{
	text-align: left;
	width: calc(var(--main-font-size) * 30);
	margin: 0 auto;
}
.centreInside
{
	text-align: center;
}
.textBlock img
{
	/*max-width: calc(var(--main-font-size) * 30);*/
	width: calc(var(--main-font-size) * 30);
}

.grid-container
{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.grid-container img
{
	max-height: 100px;
}

.grid-container a
{
	color: var(--accent-colour);
	text-decoration: none;

	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: var(--accent2-colour);
}

.portfolio-grid-container
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.portfolio-grid-container img
{
	max-width: 100%;
	max-height: 100%;
}

.portfolio-grid-container a
{
	color: var(--accent-colour);
	/*text-decoration-color: grey;*/
	text-decoration: none;

	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: var(--accent2-colour);
}

body article
{
	max-width: 60%;
}
body article img
{
	max-width: 100%;
}
